.dashboard{
  justify-content: center;
  display: flex;
  min-height: 100vh;

  background: #ffefba;
  background: -webkit-linear-gradient(to right, #ffefba, #ffffff);
  background: linear-gradient( #ffefba, #ffffff);
  
  .dashboardWrapper{
    max-width: 1440px;
    width: 100%;
    padding: 64px;
  }
}


.modalWrapper {
  max-width: 640px;
  width: 100%;
  padding: 24px;
  background: #FFFFFF;
  font-family: 'Nunito Sans', sans-serif;
  margin: 40px auto;
  overflow: visible;
  position: relative;
}
