@font-face {
  font-family: 'Righteous Regular';
  src: local('Righteous Regular'), url(../../assets/fonts/Righteous/Righteous-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Amiko Bold';
  src: local('Amiko Bold'), url(../../assets/fonts/Amiko/Amiko-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Amiko Regular';
  src: local('Amiko Regular'), url(../../assets/fonts/Amiko/Amiko-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Amiko SemiBold';
  src: local('Amiko SemiBold'), url(../../assets/fonts/Amiko/Amiko-SemiBold.ttf) format('opentype');
}

@font-face {
  font-family: 'Archivo Bold';
  src: local('Archivo Bold'), url(../../assets/fonts/Archivo/static/Archivo-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Archivo Regular';
  src: local('Archivo Regular'), url(../../assets/fonts/Archivo/static/Archivo-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Archivo SemiBold';
  src: local('Archivo SemiBold'), url(../../assets/fonts/Archivo/static/Archivo-SemiBold.ttf) format('opentype');
}

@font-face {
  font-family: 'Archivo Black';
  src: local('Archivo Black'), url(../../assets/fonts/Archivo/static/Archivo-Black.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Black';
  src: local('NunitoSans Black'), url(../../assets/fonts/Nunito_Sans/NunitoSans-Black.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Black Italic';
  src: local('NunitoSans Black Italic'), url(../../assets/fonts/Nunito_Sans/NunitoSans-BlackItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Bold';
  src: local('NunitoSans Bold'), url(../../assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Extra Bold';
  src: local('NunitoSans Extra Bold'), url(../../assets/fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Extra Bold Italic';
  src: local('NunitoSans Extra Bold Italic'), url(../../assets/fonts/Nunito_Sans/NunitoSans-ExtraBoldItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Extra Light';
  src: local('NunitoSans Extra Light'), url(../../assets/fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Extra Light Italic';
  src: local('NunitoSans Extra Light Italic'), url(../../assets/fonts/Nunito_Sans/NunitoSans-ExtraLightItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Italic';
  src: local('NunitoSans Italic'), url(../../assets/fonts/Nunito_Sans/NunitoSans-Italic.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Light';
  src: local('NunitoSans Light'), url(../../assets/fonts/Nunito_Sans/NunitoSans-Light.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Light Italic';
  src: local('NunitoSans Light Italic'), url(../../assets/fonts/Nunito_Sans/NunitoSans-LightItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Regular';
  src: local('NunitoSans Regular'), url(../../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Semi Bold';
  src: local('NunitoSans Semi Bold'), url(../../assets/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf) format('opentype');
}

@font-face {
  font-family: 'NunitoSans Semi Bold Italic';
  src: local('NunitoSans Semi Bold Italic'), url(../../assets/fonts/Nunito_Sans/NunitoSans-SemiBoldItalic.ttf) format('opentype');
}