.navbar-wrapper{
  justify-content: center;
  display: flex;
  width: 100%;
  position: sticky;
  .navbar{
    max-width: 1440px;
    width: 100%;
    box-shadow: 0 10px 50px -25px rgba(28,47,73,.25);

    .navbar-container{
      width: 100%;
      list-style-type: none;
      padding: 0;
      margin: 12px;
      display: flex;
      justify-content: space-between;
      li{
        margin: 0 10px;

        a{
          text-decoration: none;
          cursor: pointer;
          color: #000;
          font-size: 16px;
          font-weight: 600;
          &:hover{
            color: #000;
          }
        }
      }
    }
  }
}