.navbar-wrapper{
  justify-content: center;
  display: flex;
  width: 100%;
  position: fixed;
  box-shadow: 0 0px 25px 4px #44444430;
  z-index: 1;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  &.transparent {
    background-color: transparent;
    box-shadow: unset;
  }
  .navbar{
    max-width: 1280px;
    width: 100%;

    .navbar-container{
      width: 100%;
      list-style-type: none;
      padding: 0;
      margin: 12px;
      display: flex;
      justify-content: space-between;
      .logo{
        a{
          text-decoration: none;
          color: #244614;
          font-family: 'Righteous', cursive;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .menu{
        display: flex;
        gap: 20px;
        .item{
          margin: 0 10px;
          a{
            text-decoration: none;
            cursor: pointer;
            color: #244614;
            font-size: 18px;
            font-family: 'NunitoSans Regular', sans-serif;
            font-weight: 800;
            &:hover{
              color: #000;
            }
          }
        }
      }
    }
  }
}