.header {
  background-image: url("../../assets/header/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  display: flex;
  background-position: bottom;
  width: 100%;
  margin-bottom: 200px;

  .header-container {
    max-width: 1440px;
    overflow: hidden;

    .text {
      position: absolute;
      top: 28%;
      left: 0;
      width: 100%;
      text-align: center;
    }

    .parralax {
      position: absolute;
      z-index: 1;
      width: 50%;
      height: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      img {
        height: 200px;
      }
    }

    .image-bowl {
      background-image: url('../../assets/header/bowl.png');
      left: 33%;
      top: 52%;
      height: 63%;
      width: 34%;
      z-index: 3;
    }

    .image-bohnen {
      background-image: url('../../assets/header/bohnen.png');
      transform: rotate(28deg) !important;
      bottom: 17%;
      right: 9%;
      height: 41%;
      width: 15%;
    }

    .image-kraueter {
      background-image: url('../../assets/header/kraueter.png');
      left: 6%;
      bottom: 15%;
      height: 64%;
      width: 69%;
    }

    .image-pasta {
      background-image: url('../../assets/header/pasta.png');
      right: 18%;
      top: 70%;
      height: 36%;
      width: 20%;
    }

    .image-tomatos {
      background-image: url('../../assets/header/tomatos.png');
      right: -5%;
      top: 70%;
      height: 28%;
      width: 28%;
    }

    .image-knoblauch {
      background-image: url('../../assets/header/knoblauch.png');
      left: 3%;
      bottom: -18%;
      height: 54%;
      width: 27%;
    }

    .body {
      padding-top: 145px;

      .name {
        max-width: 1100px;
        margin-bottom: 32px;

        h1 {
          font-size: 75px;
          color: white;

        }

        .highlited {
          color: #244614;
        }
      }
    }
  }
}